In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('used_cars_data.csv')

In [3]:
df.head()

,body_type,city,city_fuel_economy,daysonmarket,engine_displacement,engine_type,frame_damaged,fuel_type,has_accidents,highway_fuel_economy,...,mileage,model_name,owner_count,price,theft_title,transmission_display,trim_name,wheel_system,year,torque
0,Sedan,Cincinnati,18.0,7,3600.0,V6,False,Gasoline,False,26.0,...,67925.0,CTS,1.0,20988.0,False,6-Speed Automatic,3.6L Premium AWD,AWD,2014,275
1,Sedan,Valencia,20.0,49,3000.0,I6,False,Gasoline,False,30.0,...,32752.0,5 Series,1.0,37395.0,False,Automatic,540i Sedan RWD,RWD,2017,332
2,Sedan,Arlington,25.0,17,2500.0,I4,False,Gasoline,False,35.0,...,125477.0,Camry,2.0,11000.0,False,6-Speed Automatic,SE,FWD,2014,170
3,Sedan,Minooka,16.0,106,3600.0,V6,False,Gasoline,False,25.0,...,63871.0,STS,3.0,8608.0,False,Automatic,V6 RWD,RWD,2006,252
4,Sedan,Cedar Rapids,27.0,12,1500.0,I4,False,Gasoline,False,37.0,...,42977.0,Malibu,2.0,18998.0,False,6-Speed Automatic,1LT FWD,FWD,2016,184

In [4]:
columns_to_encode = ['body_type','city','engine_type','frame_damaged','fuel_type','has_accidents','isCab','is_new','make_name','maximum_seating','model_name','theft_title','transmission_display','wheel_system','trim_name']

In [5]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()

# Fit and transform the selected columns
encoded_data = encoder.fit_transform(df[columns_to_encode])

# Get feature names from the original DataFrame
feature_names = encoder.get_feature_names_out(input_features=columns_to_encode)

# Convert the sparse matrix to a DataFrame
encoded_df = pd.DataFrame(encoded_data.toarray(), columns=feature_names)

# Concatenate the original DataFrame and the one-hot encoded DataFrame
df = pd.concat([df, encoded_df], axis=1)

# Drop the original columns that were encoded
df = df.drop(columns=columns_to_encode)

# Print the resulting DataFrame
print(df)

       city_fuel_economy  daysonmarket  engine_displacement  \
0                   18.0             7               3600.0
1                   20.0            49               3000.0
2                   25.0            17               2500.0
3                   16.0           106               3600.0
4                   27.0            12               1500.0
...                  ...           ...                  ...
92534               22.0            47               2000.0
92535               27.0           193               2500.0
92536               18.0            94               3200.0
92537               22.0            12               1600.0
92538               17.0            33               3500.0

       highway_fuel_economy  horsepower   mileage  owner_count    price  year  \
0                      26.0       321.0   67925.0          1.0  20988.0  2014
1                      30.0       335.0   32752.0          1.0  37395.0  2017
2                      35.0       178.0  125477.0          2.0  11000.0  2014
3                      25.0       255.0   63871.0          3.0   8608.0  2006
4                      37.0       160.0   42977.0          2.0  18998.0  2016
...                     ...         ...       ...          ...      ...   ...
92534                  27.0       184.0   42218.0          2.0  20323.0  2018
92535                  38.0       179.0   45150.0          2.0  13900.0  2018
92536                  24.0       271.0   41716.0          1.0  25941.0  2019
92537                  32.0       103.0  119156.0          1.0   2750.0  2002
92538                  23.0       290.0  135220.0          2.0  11995.0  2013

       torque  ...  trim_name_xDrive28d AWD  trim_name_xDrive28i AWD  \
0         275  ...                      0.0                      0.0
1         332  ...                      0.0                      0.0
2         170  ...                      0.0                      0.0
3         252  ...                      0.0                      0.0
4         184  ...                      0.0                      0.0
...       ...  ...                      ...                      ...
92534     221  ...                      0.0                      0.0
92535     177  ...                      0.0                      0.0
92536     295  ...                      0.0                      0.0
92537     106  ...                      0.0                      0.0
92538     255  ...                      0.0                      0.0

       trim_name_xDrive30i AWD  trim_name_xDrive35d AWD  \
0                          0.0                      0.0
1                          0.0                      0.0
2                          0.0                      0.0
3                          0.0                      0.0
4                          0.0                      0.0
...                        ...                      ...
92534                      0.0                      0.0
92535                      0.0                      0.0
92536                      0.0                      0.0
92537                      0.0                      0.0
92538                      0.0                      0.0

       trim_name_xDrive35i AWD  trim_name_xDrive35i Premium AWD  \
0                          0.0                              0.0
1                          0.0                              0.0
2                          0.0                              0.0
3                          0.0                              0.0
4                          0.0                              0.0
...                        ...                              ...
92534                      0.0                              0.0
92535                      0.0                              0.0
92536                      0.0                              0.0
92537                      0.0                              0.0
92538                      0.0                              0.0

       trim_name_xDrive35i Sport Activity AWD  trim_name_xDrive40i AWD  \
0                                         0.0                      0.0
1                                         0.0                      0.0
2                                         0.0                      0.0
3                                         0.0                      0.0
4                                         0.0                      0.0
...                                       ...                      ...
92534                                     0.0                      0.0
92535                                     0.0                      0.0
92536                                     0.0                      0.0
92537                                     0.0                      0.0
92538                                     0.0                      0.0

       trim_name_xDrive48i AWD  trim_name_xDrive50i AWD
0                          0.0                      0.0
1                          0.0                      0.0
2                          0.0                      0.0
3                          0.0                      0.0
4                          0.0                      0.0
...                        ...                      ...
92534                      0.0                      0.0
92535                      0.0                      0.0
92536                      0.0                      0.0
92537                      0.0                      0.0
92538                      0.0                      0.0

[92539 rows x 7817 columns]

In [6]:
X = df.drop('price',axis=1)
X.head()

,city_fuel_economy,daysonmarket,engine_displacement,highway_fuel_economy,horsepower,mileage,owner_count,year,torque,body_type_Convertible,...,trim_name_xDrive28d AWD,trim_name_xDrive28i AWD,trim_name_xDrive30i AWD,trim_name_xDrive35d AWD,trim_name_xDrive35i AWD,trim_name_xDrive35i Premium AWD,trim_name_xDrive35i Sport Activity AWD,trim_name_xDrive40i AWD,trim_name_xDrive48i AWD,trim_name_xDrive50i AWD
0,18.0,7,3600.0,26.0,321.0,67925.0,1.0,2014,275,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,20.0,49,3000.0,30.0,335.0,32752.0,1.0,2017,332,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,25.0,17,2500.0,35.0,178.0,125477.0,2.0,2014,170,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,16.0,106,3600.0,25.0,255.0,63871.0,3.0,2006,252,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,27.0,12,1500.0,37.0,160.0,42977.0,2.0,2016,184,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df['price'] = np.log(df['price'])
y = df['price']
y.head()

0     9.951706
1    10.529292
2     9.305651
3     9.060447
4     9.852089
Name: price, dtype: float64

In [8]:
from sklearn.ensemble import RandomForestRegressor

# Assuming X contains your features and y is the target variable (price)
model = RandomForestRegressor()
model.fit(X, y)

# Access feature importances
feature_importances = model.feature_importances_

# Create a DataFrame pairing features with their importances
feature_importance_df = pd.DataFrame({'Feature': X.columns, 'Importance': feature_importances})

# Sort the DataFrame by importance in descending order
feature_importance_df = feature_importance_df.sort_values(by='Importance', ascending=False)

top_10_features_df = feature_importance_df.head(10)

top_10_features_list = feature_importance_df.head(10)['Feature'].tolist()
top_10_features_list.remove('model_name_Escape')
features = top_10_features_list
X = df[features]
X.head()

,mileage,year,horsepower,torque,wheel_system_FWD,highway_fuel_economy,daysonmarket,body_type_SUV / Crossover,engine_displacement
0,67925.0,2014,321.0,275,0.0,26.0,7,0.0,3600.0
1,32752.0,2017,335.0,332,0.0,30.0,49,0.0,3000.0
2,125477.0,2014,178.0,170,1.0,35.0,17,0.0,2500.0
3,63871.0,2006,255.0,252,0.0,25.0,106,0.0,3600.0
4,42977.0,2016,160.0,184,1.0,37.0,12,0.0,1500.0

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a Linear Regression model
linear_reg_model = LinearRegression()

# Train the model 
linear_reg_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred_linear_reg = linear_reg_model.predict(X_test)

# Evaluate the Linear Regression model
mse_linear_reg = mean_squared_error(y_test, y_pred_linear_reg)
r2_linear_reg = r2_score(y_test, y_pred_linear_reg)

print("Linear Regression Mean Squared Error:", mse_linear_reg)
print("Linear Regression R-squared:", r2_linear_reg)

Linear Regression Mean Squared Error: 0.05054364954453793
Linear Regression R-squared: 0.8495563228805016

In [11]:
new_df = pd.concat([X,y], axis=1)

In [12]:
new_df.head()

,mileage,year,horsepower,torque,wheel_system_FWD,highway_fuel_economy,daysonmarket,body_type_SUV / Crossover,engine_displacement,price
0,67925.0,2014,321.0,275,0.0,26.0,7,0.0,3600.0,9.951706
1,32752.0,2017,335.0,332,0.0,30.0,49,0.0,3000.0,10.529292
2,125477.0,2014,178.0,170,1.0,35.0,17,0.0,2500.0,9.305651
3,63871.0,2006,255.0,252,0.0,25.0,106,0.0,3600.0,9.060447
4,42977.0,2016,160.0,184,1.0,37.0,12,0.0,1500.0,9.852089